<html>
<head>
	<title>给好友贴标签</title>
	<!--include "../tragment/meta.html"-->
	<link rel="stylesheet" type="text/css" href="../style/index.css">
</head>
<body>

<div class="weui-panel weui-panel_access">
	<div  class="weui-media-box weui-media-box_appmsg center">			                
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title"> 
                	大家对他的印象是：
        		</h4>
                <p class="weui-media-box__desc">
                	<i class="weui-btn weui-btn_tag weui-btn_default">
			            保姆
			        </i>
			        <i class="weui-btn weui-btn_tag weui-btn_default">
			            IT民工
			        </i>
			        <i class="weui-btn weui-btn_tag weui-btn_default">
			            钢琴
			        </i>
			        <i class="weui-btn weui-btn_tag weui-btn_default">
			            英文
			        </i>
			        <i class="weui-btn weui-btn_tag weui-btn_default">
			            保姆
			        </i>
			        <i class="weui-btn weui-btn_tag weui-btn_default">
			            IT民工
			        </i>
			        <i class="weui-btn weui-btn_tag weui-btn_default">
			            钢琴
			        </i>
			        <i class="weui-btn weui-btn_tag weui-btn_default">
			            英文
			        </i>
                </p>
            </div>
        </div>
</div>

<div class="weui-panel weui-panel_access">
	<div class="weui-panel__hd">请描述对【开心果】的印象 </div>
	<div class="weui-cell weui-cell_vcode center">
        <div class="weui-cell__bd">
            <input class="weui-input" type="tel" placeholder="请输入标签">
        </div>
        <div class="weui-cell__ft">
            <button class="weui-vcode-btn">　添加　</button>
        </div>
    </div>
</div>
<!--include "../tragment/mTagList.html"-->  
	    
<script type="text/javascript" src="../js/zepto.js"></script>
<script type="text/javascript" src="../js/doT.min.js"></script>

</body>
</html>