<html>
<head>
	<title>我的标签</title>
	<!--include "../tragment/meta.html"-->
	<link rel="stylesheet" type="text/css" href="../style/index.css">
</head>
<body>
<div class="weui-tab">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-bar__item_on">
            <a href="myTag.html">我的标签</a>
        </div>
        <div class="weui-navbar__item">            
            <a href="myFriendTag.html">好友印象</a>
        </div>
    </div>
    <div class="weui-tab__panel">  
		<div class=" weui-panel weui-media-box">
			<div class="weui-media-box__bd">
				<i class="weui-btn weui-btn_mini  weui-btn_default">
	            保姆 15
		        </i>
		        <i class="weui-btn weui-btn_mini  weui-btn_default">
		            IT民工IT民工 1
		        </i>
		        <i class="weui-btn weui-btn_mini  weui-btn_default">
		            钢琴 23
		        </i>
		        <i class="weui-btn weui-btn_mini  weui-btn_default">
		            英文 3
		        </i>
		        <i class="weui-btn weui-btn_mini  weui-btn_default">
		            保姆 45
		        </i>
		        <i class="weui-btn weui-btn_mini  weui-btn_default">
		            IT民工 56
		        </i>
		        <i class="weui-btn weui-btn_mini  weui-btn_default">
		            钢琴 5
		        </i>
		        <i class="weui-btn weui-btn_mini  weui-btn_default">
		            英文 3
		        </i>
			</div>
	        
	    </div>
		   
		<div class="weui-panel weui-panel_access">
			<div class="weui-panel__hd">请给自己添加标签 </div>
		    <div class="weui-cell weui-cell_vcode center">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="请输入标签">
                </div>
                <div class="weui-cell__ft">
                    <button class="weui-vcode-btn">　添加　</button>
                </div>
            </div>
		</div>
		<!--include "../tragment/mTagList.html"-->  
    </div>
</div>	   


	    
<script type="text/javascript" src="../js/zepto.js"></script>
<script type="text/javascript" src="../js/doT.min.js"></script>

</body>
</html>