<html>
<head>
	<title>全部推荐</title>
	<!--include "../tragment/meta.html"-->
	<link rel="stylesheet" type="text/css" href="../style/index.css">
</head>
<body>
	<div class="weui-tab">
	    <div class="weui-navbar">
	        <div class="weui-navbar__item weui-bar__item_on">
	            全部
	        </div>
	        <div class="weui-navbar__item">
	            已完成
	        </div>
	    </div>
	    <div class="weui-tab__panel">   
	    	<!--include "../tragment/realListTmp.html"--> 
	    </div> 
	</div>
    
<script type="text/javascript" src="../js/zepto.js"></script>
<script type="text/javascript" src="../js/doT.min.js"></script>

</body>
</html>