<html>
<head>
	<title>好友详情</title>
	<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" type="text/css" href="../style/index.css">
</head>
<body>	
<div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a href="info.html" class="weui-media-box weui-media-box_appmsg center">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="../images/user.jpg" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">如摄</h4>
                        <p class="weui-media-box__desc">
		                	所在城市：浙江杭州
		                </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>	
<div class="weui-cells__title">外号</div>
<div class="weui-cells weui-cells_form">        
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" maxlength="14" placeholder="请输入外号" value="太阳之花" name="title">
        </div>
    </div>
</div>      
<div class="weui-cells__title">信任度</div>
<div class="weui-cells weui-cells_form">        
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" maxlength="14" placeholder="请给你的好友打个分" name="title">
        </div>
    </div>
</div>  
<div class="weui-cells__title">标签</div>
<div class="weui-cells weui-cells_form">        
    <a class="weui-cell weui-cell_access " href="friendViewTag.html">
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" maxlength="14" placeholder="标签规定特定，对好友不可见" name="title">
        </div>
        <div class="weui-cell__ft"></div>
    </a>
</div>
<div class="weui-cells__title">分类</div>
<div class="weui-cells weui-cells_form">        
    <a class="weui-cell weui-cell_access ">
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" maxlength="14" placeholder="给好友进行分类" name="title">
        </div>
        <div class="weui-cell__ft"></div>
    </a>
</div> 
<div class="weui-btn-static">
    <a href="javascript:;" class="weui-btn weui-btn_primary js_publish">保存</a>
    <a href="javascript:;" class="weui-btn weui-btn_warn js_publish mT10">删除</a>
</div> 

</body>
</html>