<html>
<head>
	<title>发布详情</title>
	<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" type="text/css" href="../style/index.css">
</head>
<body>
	<div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd js-view"></div>   
    </div>
	<div class="weui-panel weui-panel_access js-wrapper"></div>
    <script type="text/template" id="viewTpl">
        <div class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <div class="ask">问</div>
            </div>
            <div class="weui-media-box__bd posR">
                <h4 class="weui-media-box__title">{{=it.title}}
                {{? it.commissionNumber != 0 }}
                <i>{{=it.commissionNumber}}元</i> 
                {{?}}
                </h4>
                <time class="weui-media-box__time">{{=it.createTime.split(' ')[0]}}</time>
                <p class="weui-media-box__desc">{{=it.demandContent}}</p>
                {{? it.status == 0 || it.status == 2}}
                    <i class="releaseStatus{{=it.status}}"></i>
                {{?}}
            </div>
        </div>
        
    </script>
    <script type="text/template" id="viewListTpl">
        <div class="weui-panel__hd">全部推荐详情</div>
        <div class="weui-media-box ">
        {{? it.length == 0}}
        <p class="weui-media-box__desc">
        暂无推荐详情
        </p>
        {{?}}
        {{~it:v:index}}
            <div href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" 
                    {{? v.headImgUrl == null || v.headImgUrl == ''}}
                    src="../images/user.jpg"
                    {{??}}
                    src="{{=v.headImgUrl}}"
                    {{?}}
                    alt="">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title">
                        {{=v.recommendUserName}}
                        {{? v.status == 1 }}
                            <span class="status1">中标</span>
                        {{?}}
                        {{? v.status == 2 }}
                            <span class="status2">靠谱</span>
                        {{?}}
                        {{? v.status == 3 }}
                            <span class="status3">谢谢</span>
                        {{?}}
                        <em data-title={{=v.id}}>{{=v.createTime.split(' ')[0]}}</em></h4>
                    <p class="weui-media-box__desc">{{=v.recommendContent}}</p>
                    <div class="weui-media-box__ft">
                        <a href="publishViewComment.html?recommendId={{=v.id}}&&demandId={{=v.demandId}}">实时评论>></a>
                    </div>                
                </div>            
            </div>
            {{? v.status != 1 && v.status != 2 && v.status != 3 }}
                <div class="weui-media-box weui-media-box_appmsg js-pg">
                    <div>详情评估</div>
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" data-tag="2" data-tagName="靠谱" data-id="{{=v.id}}">靠谱</a>
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" data-tag="1" data-tagName="中标" data-id="{{=v.id}}">中标</a>
                    <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default" data-tag="3" data-tagName="谢谢" data-id="{{=v.id}}">谢谢</a>
                </div>
            {{?}}
        {{~}}
        </div>
    </script>

<script type="text/javascript" src="../js/assets/jquery2.1.4.js"></script>
<script type="text/javascript" src="../js/assets/sea.min.js"></script>
<script type="text/javascript" src="../js/common/sea.config.js"></script>
<script type="text/javascript">
    seajs.use('../js/app/publishView.js');
</script>
</body>
</html>