<html>
<head>
	<title>实时推荐</title>
	<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="HandheldFriendly" content="true" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" type="text/css" href="../style/index.css">
</head>
<body>
	<div class="weui-tab">
	    <div class="weui-tab__panel">  
	    	<div class="weui-panel">
    <div class="weui-panel__bd">
        <div class="weui-media-box">
            <h4 class="weui-media-box__title">
                找钢琴老师
                <i>500元</i>
            </h4>
            <time class="weui-media-box__time">2017-03-03 6条</time>
            <p class="weui-media-box__desc">    需要一位30岁左右的钢琴老师，会英语沟通，上课地点在文二西路88号附近
            </p>
        </div>
    </div>
    <div class="weui-panel__ft btn__ft">
        <a href="recommendView.html" class="weui-btn weui-btn_mini weui-btn_primary">
            查看推荐详情            
        </a>
    </div>
</div>
<div class="weui-panel">
    <div class="weui-panel__bd">
        <div class="weui-media-box">
            <h4 class="weui-media-box__title">
                找钢琴老师
                <i>500元</i>
            </h4>
            <time class="weui-media-box__time">2017-03-03</time>
            <p class="weui-media-box__desc">    需要一位30岁左右的钢琴老师，会英语沟通，上课地点在文二西路88号附近
            </p>
        </div>
    </div>
    <div class="weui-panel__ft btn__ft">
        <a href="recommendView.html" class="weui-btn weui-btn_mini weui-btn_primary">
            查看推荐详情           
        </a>
    </div>
</div>
	    </div>
	</div>
    
<script type="text/javascript" src="../js/zepto.js"></script>
<script type="text/javascript" src="../js/doT.min.js"></script>

</body>
</html>